.button {
    -fx-font-size: 14pt;
    -fx-background-color: rgb(51, 25, 0);
    -fx-text-fill: rgb(238, 212, 212);
}
.button:hover {
    -fx-background-color: rgb(110, 54, 0);
}
.combo-box {
    -fx-font-size: 14pt;
    -fx-background-color: rgb(51, 25, 0);
    -fx-text-fill: rgb(238, 212, 212);
    -fx-cell-size: 1.66667em;
}
.combo-box .list-cell {
    -fx-font-size: 14pt;
    -fx-background-color: rgb(51, 25, 0);
    -fx-text-fill: rgb(238, 212, 212);
}
.combo-box:hover {
    -fx-background-color: rgb(110, 54, 0);
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgb(110, 54, 0);
}

#contactHeader {
    -fx-font-size: 18pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: rgb(51, 25, 0);
}

#contactPriv {
    -fx-font-size: 15pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: red;
}

#contactOpener {
    -fx-font-size: 15pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: rgb(51, 25, 0);
}

.text-area .content{
    -fx-font-size: 10pt;
    -fx-font-stye: underlined;
}
VBox {
    -fx-background-color: #FFEBCD;
    -fx-border-color: #696969;
    -fx-border-insets: 5;
    -fx-border-width: 5;
    
}
.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: rgb(51, 25, 0);
    -fx-background-color: #FFEBCD;
}



